*{
	margin: 0%;
	padding: 0%;

}
body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.parent{
	width: 1000px;
	height: 400px;
	background-color: black;
	position: relative;
}
.child-1{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	color: black;
	background-color: yellow;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
	top: 200px;
	
}
.child-2{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	color: black;
	background-color: green;
	border-radius: 50%;
	top: 150px;
	position: absolute;
	
}